<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/aside') %>
    <main>
      <h1>오류가 발생했습니다.</h1>
      <p>
        안타깝게도 서버에 문제가 발생했습니다. 가능한 한 빨리 문제를 해결하기
        위해 최선을 다하고 있습니다.
      </p>
    </main>
  </body>
</html>
